<template>
  <hr />
  <h3>Instrucciones</h3>
  <span
    >Ingrese el nombre del proyecto, el tipo de proyecto y tilde si es urgente o
    no.</span
  >
  <br />
  <span>Clickee el botón Guardar, verá su proyecto reflejado en la tabla.</span>
  <br />
  <span
    >Puede cambiar el estado de Urgente a No-Urgente clickeando en el campo
    correspondiente en la tabla.</span
  >
  <br />
  <span
    >Puede cambiar el estado de Incompleto a Completo clickeando el campo
    correspondiente en la tabla.</span
  >
  <br />
  <span
    >Verá la barra de progreso llenarse conforme agregue y complete
    proyectos.</span
  >
  <br />
  <span>Para borrar todos los proyectos use el botón Limpiar Proyectos.</span>
  <br />
  <span
    >Esta App cuenta con <b><i>Persistencia Local</i></b> por lo cual el
    navegador puede ser refrescado sin perder datos.</span
  >
</template>

<script>
export default {};
</script>
