<template>
  <div class="row">
    <div class="col-12 mb-4"></div>
    <ProgressBar :percent="percent" />
    <div class="col-12 col-md-4">
      <form @submit.prevent="registerProject()">
        <div class="mb-3">
          <label class="form-label">Proyecto</label>
          <!-- .trim me limpia el stirng de espacios -->
          <input
            v-model.trim="projectName"
            type="text"
            class="form-control"
            required
          />
        </div>

        <div class="mb-3">
          <label class="form-label">Actividad</label>
          <select v-model.trim="projectType" class="form-select" required>
            <option disabled selected value="">Seleccione un Tipo...</option>
            <option>Aplicación Web con Vue.js</option>
            <option>Backend Service con Node.js</option>
            <option>App Movil con Flutter</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-check-label">Urgente </label>
          <input
            v-model.trim="isUrgent"
            type="checkbox"
            class="form-check-input"
          />
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </form>
    </div>
    <div class="col-12 col-md-8">
      <ProjectTable
        :projectAmmount="projectAmmount"
        :myProjects="myProjects"
        :changeState="changeState"
        :clearData="clearData"
      />
    </div>
  </div>
</template>
<script>
import ProgressBar from "./ProgressBar.vue";
import ProjectTable from "./ProjectTable.vue";

export default {
  components: { ProgressBar, ProjectTable },
  data: () => ({
    projectName: "",
    projectType: "",
    isUrgent: false,
    myProjects: [],
  }),
  methods: {
    registerProject() {
      const project = {
        projectName: this.projectName,
        projectType: this.projectType,
        isUrgent: this.isUrgent,
        isCompleted: false,
      };

      this.myProjects.push(project);
      this.saveData();

      this.projectName = "";
      this.projectType = "";
      this.isUrgent = false;
    },

    changeState(project, key) {
      //objeto[campo] es lo mismo que hacer objeto.campo
      project[key] = !project[key];
      this.saveData();
    },

    saveData() {
      //JSON Stringify me convierte un objeto en un string para poder guardarlo en LS.
      localStorage.setItem("myProjects", JSON.stringify(this.myProjects));
    },
    clearData() {
      this.myProjects = [];
      localStorage.clear();
    },
  },

  computed: {
    projectAmmount() {
      return this.myProjects.length;
    },

    percent() {
      let completed = 0;

      this.myProjects.map((project) => {
        if (project.isCompleted) completed++;
      });

      return (completed * 100) / this.projectAmmount || 0;
    },
  },

  //Todo lo que viene después de Mounted se ejecuta una vez renderizado el DOM.
  //JSON Parse convierte en OBJETO cualquier String que tenga guardado en LS.
  mounted() {
    this.myProjects = JSON.parse(localStorage.getItem("myProjects")) || [];
  },
};
</script>
