<template>
  <h3 class="text-center">Progreso: {{ percent }}%</h3>
  <div class="progress mb-2">
    <div
      class="progress-bar progress-bar-striped progress-bar-animated bg-success"
      role="progressvar"
      :aria-valuenow="percent"
      aria-valuemin="0"
      aria-valuemax="100"
      :style="`width: ${percent}%`"
    ></div>
  </div>
</template>

<script>
export default {
  props: {
    percent: Number,
  },
};
</script>
