<template>
  <div class="row my-2">
    <div class="col-6">
      <h3>Total de Proyectos: {{ projectAmmount }}</h3>
    </div>
    <div class="col-6 text-end">
      <button @click="clearData()" class="btn btn-warning">
        Limpiar Proyectos
      </button>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-dark">
      <thead>
        <tr>
          <th>#</th>
          <th>Proyecto</th>
          <th>Tipo</th>
          <th>Urgente</th>
          <th>Completado</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(project, index) in myProjects" :key="index">
          <td>{{ index + 1 }}</td>
          <td>{{ project.projectName }}</td>
          <td>{{ project.projectType }}</td>
          <td
            @click="changeState(project, 'isUrgent')"
            :class="project.isUrgent ? 'bg-success' : 'bg-danger'"
          >
            {{ project.isUrgent ? "SI" : "NO" }}
          </td>
          <td
            @click="changeState(project, 'isCompleted')"
            :class="project.isCompleted ? 'bg-success' : 'bg-danger'"
          >
            {{ project.isCompleted ? "Completo" : "Incompleto" }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  props: ["projectAmmount", "myProjects", "changeState", "clearData"],
};
</script>
