<template>
  <div class="container mt-3">
    <Header />
    <Form />
    <Footer />
  </div>
</template>

<script>
import Header from "./components/Header.vue";
import Form from "./components/Form.vue";
import Footer from "./components/Footer.vue";

export default {
  components: {
    Header,
    Form,
    Footer,
  },
};
</script>

<style></style>
